<h1>My Reservations</h1>
<p id="notice"><%= notice %></p>

<% @user.reservations.each do |r| %>
  <br>
  <div class="reserve">

    <h2><%= r.date.in_time_zone.strftime('%e %b %Y %H:%M %p') %> </h2>
    <p>Restaurant: <%= r.restaurant.name %></p>
    <p>Location: <%= r.restaurant.location %></p>
    <p>Party Size: <%= r.party_size %></p>
  </div>

<% end %>