<%= render :partial => "reservations" %>

<h1> <%= @restaurant.name %> Reservations </h1>

<%= @reservations.each do |reservation|  %>
  <div>
   <p> <%=reservation.user.first_name %> <%=reservation.user.last_name %> </p>
  </div>
  <div>
    <p> <%= reservation.user.email %></p>
  </div>
  <div>
    <p> <%= reservation.date %></p>
  </div>
<%  %>
