

  <p>

        name: <%= restaurant.name %><br>
        Location: <%= restaurant.location  %><br>
        Capacity: <%= restaurant.capacity %> <br>
        <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
        <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>




