<h1>Restaurants</h1>

<%= form_tag restaurants_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<!-- div id="restuarants">
  <%= render @restaurants %>
</div> -->


<%= link_to 'Create a Restaurant', new_restaurant_path %>

<% @restaurants.each do |r|  %>

  <div>
    <h2><%= r.name %></h2>
    <p>Location: <%= r.location %></p>
    <p>Capacity: <%= r.capacity %></p>
    <%= link_to 'Make a Reservation', restaurant_path(r) %>
  </div>

<% end %>
