<h1>Restaurants</h1>

<%= link_to 'Create a Restaurant', new_restaurant_path %>

<% @restaurants.each do |r|  %>

  <div>
    <h2><%= r.name %></h2>
    <p>Location: <%= r.location %></p>
    <p>Capacity: <%= r.capacity %></p>
    <%= link_to 'Make a Reservation', restaurant_path(r) %>
  </div>

<% end %>
