<h1>Restaurants</h1>

<p id="notice"><%= notice %></p>



<p class ="name">  <strong>Name: </strong><%= @restaurant.name %> </p>
<p class ="location">  <strong>Location:</strong>  <%= @restaurant.location %></p>
<p class ="capacity">  <strong>Capacity:</strong>  <%= @restaurant.capacity %></p>


<h4>New reservation</h4>
 <%= render 'reservations/form' %>